@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --fd-nav-height: 56px !important;
}

.dark body > nav {
  --color-fd-muted: #292929;
  --color-fd-secondary: #2e2e2e;
  --color-fd-muted-foreground: #b8b8b8;
}

@theme {
  --breakpoint-xs: 480px;
  --color-fd-background: hsl(0, 0%, 100%);
  --color-fd-foreground: hsl(0, 0%, 3.9%);
  --color-fd-foreground-secondary: hsl(0, 0%, 22%);
  --color-fd-muted: hsl(0, 0%, 98%);
  --color-fd-muted-foreground: hsl(0, 0%, 40%);
  --color-fd-popover: hsl(0, 0%, 100%);
  --color-fd-popover-foreground: hsl(0, 0%, 10%);
  --color-fd-card: hsl(0, 0%, 100%);
  --color-fd-card-foreground: hsl(0, 0%, 3.9%);
  --color-fd-border: hsla(0, 0%, 70%, 50%);
  --color-fd-primary: hsl(207, 90%, 61%);
  --color-fd-primary-foreground: hsl(0, 0%, 100%);
  --color-fd-secondary: hsl(207, 90%, 96%);
  --color-fd-secondary-foreground: hsl(207, 90%, 35%);
  --color-fd-accent: hsla(207, 90%, 61%, 20%);
  --color-fd-accent-foreground: hsl(207, 90%, 40%);
  --color-fd-ring: hsl(207, 90%, 61%);
}

.dark {
  --color-fd-background: hsl(0, 0%, 7.04%);
  --color-fd-foreground: hsl(0, 0%, 95%);
  --color-fd-foreground-secondary: hsl(0, 0%, 92%);
  --color-fd-muted: hsl(0, 0%, 12.9%);
  --color-fd-muted-foreground: hsla(0, 0%, 75%, 0.9);
  --color-fd-popover: hsl(0, 0%, 11.6%);
  --color-fd-popover-foreground: hsl(0, 0%, 92%);
  --color-fd-card: hsl(0, 0%, 9.8%);
  --color-fd-card-foreground: hsl(0, 0%, 98%);
  --color-fd-border: hsla(0, 0%, 40%, 30%);
  --color-fd-primary: hsl(207, 90%, 61%);
  --color-fd-primary-foreground: hsl(0, 0%, 5%);
  --color-fd-secondary: hsl(207, 90%, 18%);
  --color-fd-secondary-foreground: hsl(207, 90%, 85%);
  --color-fd-accent: hsla(207, 90%, 61%, 20%);
  --color-fd-accent-foreground: hsl(207, 90%, 75%);
  --color-fd-ring: hsl(207, 90%, 61%);
}
